:root  {
    --light-ui: #f8f8f8;
    --dark-ui: #292929;

    --red-main-accent: #EA2525;
    --black-main-accent: #040404;

    --yellow-accent: #ecd043;
    --dark-blue-accent: #111D4A;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-ui);
    font-family: 'inter', sans-sesrif;
    align-items: center;
}

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 7rem;

    .hiring-banner {
        margin: auto;
        width: 75%;
        max-width: 100rem;
        height: 40%;
        background-color: rgba(0, 0, 0, 0.65);  
        backdrop-filter: blur(5px);
        border-radius:0 0 12px 12px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--light-ui);

        span {
            padding: 0 .5rem;
        }

        .hiring-line {
            border: 1px solid var(--light-ui);
            width: 1rem;
        }
    }

    .nav-banner {
        margin: auto;
        width: 75%;
        max-width: 100rem;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--dark-ui);
        .nav-banner-block1 {
            width: 40%;
            height: 100%;
            .nav-block1-wrapper{
                width: 100%;
                height: inherit;
                display: flex;
                justify-content: flex-start;

                img {
                    width: 12rem;
                    min-width: 8rem;
                }
            }
        }
        .nav-banner-block2 {
            height: 100%;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    font-weight: 600;
                    padding: 1rem .5rem 0 0;
                    .call-us {
                        color: var(--yellow-accent);
                    }
                }
            }
        }
    }
}

#Home {

    .home-hero-wrapper {
        margin: auto;
        padding-top: 8rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .home-hero {
            line-height: 3.3rem;
            color: var(--dark-ui);
            h1 {
                font-weight: 700;
                font-size: 2.8rem;
            }
            h3 {
                font-weight: 600;
                font-size: 1.6rem;
            }
            button {
                transition: all .5s ease;
                color: var(--dark-ui);
                border: 3px solid var(--yellow-accent);
                text-align: center;;
                font-size: 1.1rem;
                background-color : transparent;
                padding: 1rem;
                margin-top: 1rem;
                outline: none;
                border-radius: 4px;
                &:hover {
                    color: var(--dark-ui);
                    background-color: var(--yellow-accent);
                }
            }
        }
        .home-hero-iso {
            width: auto;
            img {
                width: 100%;
                min-width: 25rem;
                max-width: 35rem;
                height: auto;
            }
        }
    }
    .home-hero-2 {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            color: var(--dark-ui);
            font-size: 1.5rem;
            font-family: 'Solitreo', sans-serif;
        }
    }
}