@import url(/resources/styles/slider.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap");
:root {
  --light-ui: #f8f8f8;
  --dark-ui: #060606;
  --gray-ui: #a7a7a7;
  --med-gray-ui: #5f5f5f;
  --dark-gray-ui: rgb(58, 58, 58);
  --red-main-accent: #b31212;
  --black-main-accent: #040404;
  --yellow-accent: #FAB71C;
  --dark-blue-accent: #111D4A;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-ui);
  font-family: "inter", sans-serif;
}

#Header {
  width: 100%;
  height: 2.8rem;
  background-color: var(--yellow-accent);
}
#Header ul {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: var(--dark-ui);
  border-radius: 0 0 12px 12px;
}
#Header ul li {
  color: var(--light-ui);
}
#Header ul li .call-us {
  color: var(--yellow-accent);
}

#Home {
  height: 97vh;
}
#Home .home-wrapper {
  height: 100%;
}
#Home .home-wrapper .home-hero {
  height: 60%;
}
#Home .home-wrapper .home-nav {
  height: 65%;
  color: var(--light-ui);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Home .home-wrapper .home-nav .home-nav-top-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  margin: auto;
}
#Home .home-wrapper .home-nav .home-nav-top-wrapper h1 {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: -4px;
}
#Home .home-wrapper .home-nav .home-nav-top-wrapper .nav-statement {
  line-height: 22px;
  width: 50%;
}
#Home .home-wrapper .home-nav .home-nav-bottom-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Home .home-wrapper .home-nav .home-nav-bottom-wrapper img {
  width: 6.2rem;
}
#Home .home-wrapper .home-nav .home-nav-bottom-wrapper .nav-quote {
  font-size: 1.3rem;
  font-family: "Overpass", sans-serif;
  color: var(--gray-ui);
}
#Home .home-wrapper .home-nav .home-nav-bottom-wrapper button {
  transition: all 0.5s ease;
  color: var(--light-ui);
  border: 3px solid var(--yellow-accent);
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  border-radius: 4px;
}
#Home .home-wrapper .home-nav .home-nav-bottom-wrapper button:hover {
  color: var(--dark-ui);
  background-color: var(--yellow-accent);
}

#Services {
  height: 100vh;
  background-image: linear-gradient(to top, #d3d3d3, #dadada, #e1e1e1, #e8e8e8, #efefef, #f2f2f2, #f5f5f5, #f8f8f8, #f8f8f8, #f8f8f8, #f8f8f8, #f8f8f8);
}
#Services .services-top-wrapper {
  width: 70%;
  height: 38%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1.3rem;
}
#Services .services-top-wrapper span {
  color: var(--med-gray-ui);
  font-size: 1rem;
  letter-spacing: 2px;
}
#Services .services-top-wrapper h2 {
  font-size: 3rem;
}
#Services .services-top-wrapper hr {
  border: 1px solid black;
  width: 4rem;
}
#Services .services-top-wrapper p {
  color: var(--med-gray-ui);
  font-size: 1rem;
  width: 95%;
}
#Services .services-bottom-wrapper {
  margin: auto;
  width: auto;
  height: auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
}
#Services .services-bottom-wrapper .service-block {
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-ui);
}
#Services .services-bottom-wrapper .service-block .services-block-text {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
#Services .services-bottom-wrapper .service-block .services-block-info-text {
  font-size: 0.9rem;
  padding: 0.4rem;
}/*# sourceMappingURL=index.css.map */