@import url(/resources/styles/slider.css);
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600;700;800&display=swap');

:root  {
    --light-ui: rgb(248, 248, 248);
    --light-ui-header: rgb(235, 235, 235);
    --dark-ui: #060606;
    --gray-ui: #d9d9d9;
    --med-gray-ui: rgb(95, 95, 95);
    --dark-gray-ui: rgb(50, 50, 50);

    --red-main-accent: #b31212;
    --black-main-accent: #040404;

    --yellow-accent: rgb(250, 183, 28);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-ui);
    font-family: 'inter', sans-serif;
}

#Header {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    z-index: 1;
    background-color: var(--dark-ui);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    .header-logo {
        width: 7rem;
        height: 100%;
        margin-right: 5rem;
    }
    ul {
        width: 40%;
        height: 100%;
        margin-left: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        li {
            color: var(--light-ui);
            a {
                text-decoration: none;
                color: var(--light-ui);
                transition: color 0.3s ease;
                &:hover, &.active {
                    color: var(--yellow-accent);
                }
            }
        }
    }
    .call-us {
        margin-left: 3rem;
        .call-us-w {
            color: var(--light-ui);
            padding-right: .5rem;
        }
        .call-us-y {
            color: var(--yellow-accent);
        }
    }
    .active {
        color: var(--yellow-accent);
    }
}

#Home {
    top: 3.5rem;
    position: relative;
    height: calc(100vh - 3.5rem);
    background-color: #b31212;
    .home-wrapper {
        height: inherit;
        .home-hero {
            height: calc(70vh - 1.75rem);
        }
        .home-bottom-wrapper {
            height: calc(30vh - 1.75rem);

            .home-hiring {
                width: 100%;
                height: 30%;
                color: var(--light-ui);
                background-color: var(--dark-gray-ui);
                font-size: 1.1rem;
                font-weight: 500;
                letter-spacing: 0.5px;
                .home-hiring-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5 ease-in-out;
                    .fa-arrow-up-right-from-square {
                        font-size: 1rem;
                        padding-left: 1rem;
                    }
                }
            }
            .home-button-wrapper {
                width: 100%;
                height: 70%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: var(--gray-ui);
                button {
                    transition: all 0.5s ease-in-out;
                    color: var(--dark-ui);
                    border: none;
                    text-decoration: none;
                    background-color : var(--light-ui);
                    padding: 1.8rem;
                    outline: none;
                    border-radius: 4px;
                    box-shadow: 0 1px 3px rgba(95, 95, 95,0.45);
                    &:hover {
                        color: var(--dark-ui);
                        background-color: var(--yellow-accent);
                        box-shadow: 0 4px 13px rgba(95, 95, 95,0.5);
                        &::after {
                            box-shadow: 0 4px 13px rgba(95, 95, 95,0.5);
                            transition: opacity 0.4s ease-in-out;
                        }
                    }
                    span {
                        font-size: 1.1rem;
                        font-weight: 500;
                      
                    }
                }
            }
        }
    }
}

#Services {
    height: 95vh;
    background-color: var(--light-ui);
    position: relative;
    top: 3.5rem;
    .services-top-wrapper {
        width: 70%;
        height: 28%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        line-height: 1.3rem;
        h2 {
            font-size: 3rem;
        }
        hr {
            border: 1px solid black;
            width: 4rem;
        }
        p {
            color: var(--dark-gray-ui);
            font-size: 1rem;
            width: 95%;
        }
    }
    .services-bottom-wrapper {
        margin: auto;
        width: auto;
        height: auto;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-around;
        .service-block {
            position: relative;
            width: 23%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: var(--light-ui);

            .services-block-text {
                padding-top: 1rem;
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
                height: 30px;
            }
            .services-block-info-text {
                color: var(--dark-gray-ui);
                font-size: 0.9rem;
                padding: 1rem;
            }
            .services-block-hr {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin: 0;
                border: 2px solid var(--yellow-accent);
                transition: width 0.4s ease-out, border 0.4s ease-out;
                -webkit-transition: width 0.4s ease-out, border 0.4s ease-out;
            }
        }
        .s-block-hover {
            transition: all 0.4s ease-in-out;
            box-shadow: 0 1px 3px rgba(95, 95, 95,0.45);
            &:hover {
                box-shadow: 0 4px 13px rgba(95, 95, 95,0.5);
                .services-block-hr {
                    width: 0px;
                    border: 2px solid rgba(250, 183, 28,0.0);
                }
                &::after {
                    box-shadow: 0 4px 13px rgba(95, 95, 95,0.5);
                    transition: opacity 0.4s ease-in-out;
                }
            }
        }
    }
    .services-button-wrapper {
        margin-top: 3rem;
        display: flex;
        justify-content: center;

        button {
            transition: all 0.5s ease-in-out;
            color: var(--dark-ui);
            border: none;
            text-decoration: none;
            background-color : var(--light-ui);
            padding: 1.5rem;
            outline: none;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(95, 95, 95,0.45);
            &:hover {
                color: var(--dark-ui);
                background-color: var(--yellow-accent);
                box-shadow: 0 4px 13px rgba(95, 95, 95,0.5);
                &::after {
                    box-shadow: 0 4px 13px rgba(95, 95, 95,0.5);
                    transition: opacity 0.4s ease-in-out;
                }
            }
            span {
                font-size: 1.1rem;
                font-weight: 500;
                
            }
        }
    }
}

#Mission {
    position: relative;
    height: 60vh;
    color: var(--light-ui);
    background-color: var(--dark-ui);
    display: flex;
    .mission-left-block {
        height: inherit;
        width: 45%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        line-height: 22px;
        span {
            color: var(--yellow-accent);
            font-size: 1rem;
            letter-spacing: 2px;
        }
        h2 {
            padding: .7rem 0;
            font-size: 3rem;
            color: var(--light-ui);
        }
        hr {
            border: 1px solid var(--yellow-accent);
            width: 4rem;
        }
        p {
            font-size: 1rem;
            width: 95%;
        }
        ul {
            display: flex;
            list-style: none;
            li {
                color: var(--yellow-accent);
                font-size: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .mission-right-block {
        height: inherit;
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        iframe {
            border: 3px solid var(--light-ui);
            transition: all 0.4s ease-in-out;
            &:hover {
                border: 3px solid var(--yellow-accent);
            }
        }
    }
}

#Reviews {
    position: relative;
    height: 70vh;
    background-color: var(--light-ui);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    span {
        color: var(--dark-gray-ui);
        font-size: 1rem;
        letter-spacing: 2px;
    }
    h2 {
        font-size: 3rem;
        color: var(--dark-ui);
    }
    hr {
        border: 1px solid var(--dark-gray-ui);
        width: 4rem;
    }
    #scrollContainer {
        width: 95%;
        overflow: hidden;
        position: relative;
        height: 45vh;
        &:before, &:after {
          content: "";
          width: 20%;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 2;
          background: linear-gradient(to right, rgba(248, 248, 248, 1),rgba(255, 255, 255, 0));
        }
      
        &:before {
          left: 0;
        }
      
        &:after {
          right: 0;
          background: linear-gradient(to left, rgba(248, 248, 248, 1),rgba(255, 255, 255, 0));
        }
      
        &:hover #scrollContent {
          animation-play-state: paused;
        }
      }
      
      #scrollContent {
        display: flex;
        width: 200%;
        animation: scroll infinite linear 150s;
        transform: translateX(0%);
      }
      
      .scrollItem {
        width: 14%;
        text-align: center;
        height: 100%;
        flex-shrink: 0;

        .review-block {
            width: 20rem;
            background-color: #f5f5f5;
            border-radius: 15px;
            border: 2px solid var(--yellow-accent);
            padding: 20px;
            margin: 20px auto 10px auto;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          
            .review-header {
              text-align: center;
              margin-bottom: 10px;
          
              .review-title {
                font-weight: bold;
              }
            }
          
            .review-content {
              text-align: start;
              font-size: 0.85rem;
              margin-bottom: 20px;
              letter-spacing: normal;
              word-spacing: -1px;
            }
          
            .review-footer {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
              font-size: 0.8em;
              color: gray;
          
              .reviewer-name {
                font-weight: bold;
              }
            }
          }
          
      }
      
      @keyframes scroll {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-100%);
        }
      }           
}

#Footer {
    position: relative;
    height: 28vh;
    width: 100%;
    background-color: var(--dark-ui);
    color: var(--light-ui);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    line-height: 1.8rem;
    padding: 1rem;
    .footer-block-1 {
        width: 30%;
        padding: 1rem;
        
        .f-b-1-logo{
            padding-bottom: .2rem;
            img {
                width: 6rem;
            }
            span {
                font-family: 'Be Vietnam Pro', sans-serif;
                font-weight: 800;
                letter-spacing: -1px;
                font-size: 2rem;
            }
        }
        .f-b-1-info {
            span {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
    .footer-block-2 {
        width: 20%;
        padding: 1rem;
        .f-b-2-links {
            .f-b-2-title {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--yellow-accent);
            }
            ul {
                li {
                font-size: 1.2rem;
                font-weight: 400;
                }
            }
        }
    }
    .footer-block-3 {
        width: 15%;
        padding: 1rem;
        .f-b-3-socials {
            .f-b-3-title {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--yellow-accent);
            }
            span {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
    .footer-block-4 {
        width: 25%;
        padding: 1rem;
        .f-b-4-legal {
            span {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
}

// Services Page 

#_Services {
    position: relative;
    height: 100vh;
    width: 100%;
    .serv-top-wrapper {
        position: relative;
        width: 100%;
        height: 35%;
        background-color: var(--yellow-accent);
        .serv-banner {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            border-top: 2rem solid var(--yellow-accent);
            span {
                font-size: 7rem;
                font-weight: 700;
                letter-spacing: -3px;
            }

            p {
                width: 60%;
            }
        }
    }
    .serv-bottom-wrapper {
        width: 100%;
        height: 65%;

        .showcase-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;

            .options {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .option {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 85%;
                    height: 54px;
                    cursor: pointer;
                    border-bottom: 2px solid var(--med-gray-ui);
                    padding-left: 0.5rem;
                    font-weight: 500;
                    font-size: 1.1rem;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: var(--yellow-accent);
                    }
                  }
              }
              .display {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--gray-ui);
                .display-item {
                    display: none;
                    width: 90%;
                    height: 90%;
                    text-align: left;
                    padding: 20px;
                    .display-text {
                        font-size: 1.5rem;
                    }
                  }
              }
          }
    }
}

// Estimates Page 

#Estimates {
    position: relative;
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 2rem solid var(--yellow-accent);
        background-color: var(--yellow-accent);
        width: 100%;
        height: 30%;
        h1 {
            font-size: 5rem;
            font-weight: 700;
            letter-spacing: -3px;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    form {
        width: 60%;
        height: 80%;
        margin-top: 1rem;
      }
      
      h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      
      label {
        display: block;
        padding: 0.5rem 0;
      }
      
      input[type="text"], textarea {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid var(--dark-ui);
        font-size: 1.2rem;
        background: none;
      }
      
      input[type="submit"] {
        width: 100%;
        background-color: var(--yellow-accent);
        padding: 14px 20px;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
      
      .required {
        color: red;
        font-weight: normal;
        font-size: 12px;
      }
}