@import url(/resources/styles/slider.css);
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600;700;800&display=swap");
:root {
  --light-ui: rgb(248, 248, 248);
  --light-ui-header: rgb(235, 235, 235);
  --dark-ui: #060606;
  --gray-ui: #d9d9d9;
  --med-gray-ui: rgb(95, 95, 95);
  --dark-gray-ui: rgb(50, 50, 50);
  --red-main-accent: #b31212;
  --black-main-accent: #040404;
  --yellow-accent: rgb(250, 183, 28);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-ui);
  font-family: "inter", sans-serif;
}

#Header {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  z-index: 1;
  background-color: var(--dark-ui);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
#Header .header-logo {
  width: 7rem;
  height: 100%;
  margin-right: 5rem;
}
#Header ul {
  width: 40%;
  height: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
#Header ul li {
  color: var(--light-ui);
}
#Header ul li a {
  text-decoration: none;
  color: var(--light-ui);
  transition: color 0.3s ease;
}
#Header ul li a:hover, #Header ul li a.active {
  color: var(--yellow-accent);
}
#Header .call-us {
  margin-left: 3rem;
}
#Header .call-us .call-us-w {
  color: var(--light-ui);
  padding-right: 0.5rem;
}
#Header .call-us .call-us-y {
  color: var(--yellow-accent);
}
#Header .active {
  color: var(--yellow-accent);
}

#Home {
  top: 3.5rem;
  position: relative;
  height: calc(100vh - 3.5rem);
  background-color: #b31212;
}
#Home .home-wrapper {
  height: inherit;
}
#Home .home-wrapper .home-hero {
  height: calc(70vh - 1.75rem);
}
#Home .home-wrapper .home-bottom-wrapper {
  height: calc(30vh - 1.75rem);
}
#Home .home-wrapper .home-bottom-wrapper .home-hiring {
  width: 100%;
  height: 30%;
  color: var(--light-ui);
  background-color: var(--dark-gray-ui);
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#Home .home-wrapper .home-bottom-wrapper .home-hiring .home-hiring-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5 ease-in-out;
}
#Home .home-wrapper .home-bottom-wrapper .home-hiring .home-hiring-wrapper .fa-arrow-up-right-from-square {
  font-size: 1rem;
  padding-left: 1rem;
}
#Home .home-wrapper .home-bottom-wrapper .home-button-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--gray-ui);
}
#Home .home-wrapper .home-bottom-wrapper .home-button-wrapper button {
  transition: all 0.5s ease-in-out;
  color: var(--dark-ui);
  border: none;
  text-decoration: none;
  background-color: var(--light-ui);
  padding: 1.8rem;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(95, 95, 95, 0.45);
}
#Home .home-wrapper .home-bottom-wrapper .home-button-wrapper button:hover {
  color: var(--dark-ui);
  background-color: var(--yellow-accent);
  box-shadow: 0 4px 13px rgba(95, 95, 95, 0.5);
}
#Home .home-wrapper .home-bottom-wrapper .home-button-wrapper button:hover::after {
  box-shadow: 0 4px 13px rgba(95, 95, 95, 0.5);
  transition: opacity 0.4s ease-in-out;
}
#Home .home-wrapper .home-bottom-wrapper .home-button-wrapper button span {
  font-size: 1.1rem;
  font-weight: 500;
}

#Services {
  height: 95vh;
  background-color: var(--light-ui);
  position: relative;
  top: 3.5rem;
}
#Services .services-top-wrapper {
  width: 70%;
  height: 28%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1.3rem;
}
#Services .services-top-wrapper h2 {
  font-size: 3rem;
}
#Services .services-top-wrapper hr {
  border: 1px solid black;
  width: 4rem;
}
#Services .services-top-wrapper p {
  color: var(--dark-gray-ui);
  font-size: 1rem;
  width: 95%;
}
#Services .services-bottom-wrapper {
  margin: auto;
  width: auto;
  height: auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
}
#Services .services-bottom-wrapper .service-block {
  position: relative;
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--light-ui);
}
#Services .services-bottom-wrapper .service-block .services-block-text {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  height: 30px;
}
#Services .services-bottom-wrapper .service-block .services-block-info-text {
  color: var(--dark-gray-ui);
  font-size: 0.9rem;
  padding: 1rem;
}
#Services .services-bottom-wrapper .service-block .services-block-hr {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  border: 2px solid var(--yellow-accent);
  transition: width 0.4s ease-out, border 0.4s ease-out;
  -webkit-transition: width 0.4s ease-out, border 0.4s ease-out;
}
#Services .services-bottom-wrapper .s-block-hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 0 1px 3px rgba(95, 95, 95, 0.45);
}
#Services .services-bottom-wrapper .s-block-hover:hover {
  box-shadow: 0 4px 13px rgba(95, 95, 95, 0.5);
}
#Services .services-bottom-wrapper .s-block-hover:hover .services-block-hr {
  width: 0px;
  border: 2px solid rgba(250, 183, 28, 0);
}
#Services .services-bottom-wrapper .s-block-hover:hover::after {
  box-shadow: 0 4px 13px rgba(95, 95, 95, 0.5);
  transition: opacity 0.4s ease-in-out;
}
#Services .services-button-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
#Services .services-button-wrapper button {
  transition: all 0.5s ease-in-out;
  color: var(--dark-ui);
  border: none;
  text-decoration: none;
  background-color: var(--light-ui);
  padding: 1.5rem;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(95, 95, 95, 0.45);
}
#Services .services-button-wrapper button:hover {
  color: var(--dark-ui);
  background-color: var(--yellow-accent);
  box-shadow: 0 4px 13px rgba(95, 95, 95, 0.5);
}
#Services .services-button-wrapper button:hover::after {
  box-shadow: 0 4px 13px rgba(95, 95, 95, 0.5);
  transition: opacity 0.4s ease-in-out;
}
#Services .services-button-wrapper button span {
  font-size: 1.1rem;
  font-weight: 500;
}

#Mission {
  position: relative;
  height: 60vh;
  color: var(--light-ui);
  background-color: var(--dark-ui);
  display: flex;
}
#Mission .mission-left-block {
  height: inherit;
  width: 45%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  line-height: 22px;
}
#Mission .mission-left-block span {
  color: var(--yellow-accent);
  font-size: 1rem;
  letter-spacing: 2px;
}
#Mission .mission-left-block h2 {
  padding: 0.7rem 0;
  font-size: 3rem;
  color: var(--light-ui);
}
#Mission .mission-left-block hr {
  border: 1px solid var(--yellow-accent);
  width: 4rem;
}
#Mission .mission-left-block p {
  font-size: 1rem;
  width: 95%;
}
#Mission .mission-left-block ul {
  display: flex;
  list-style: none;
}
#Mission .mission-left-block ul li {
  color: var(--yellow-accent);
  font-size: 1rem;
  padding-right: 1rem;
}
#Mission .mission-right-block {
  height: inherit;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Mission .mission-right-block iframe {
  border: 3px solid var(--light-ui);
  transition: all 0.4s ease-in-out;
}
#Mission .mission-right-block iframe:hover {
  border: 3px solid var(--yellow-accent);
}

#Reviews {
  position: relative;
  height: 70vh;
  background-color: var(--light-ui);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#Reviews span {
  color: var(--dark-gray-ui);
  font-size: 1rem;
  letter-spacing: 2px;
}
#Reviews h2 {
  font-size: 3rem;
  color: var(--dark-ui);
}
#Reviews hr {
  border: 1px solid var(--dark-gray-ui);
  width: 4rem;
}
#Reviews #scrollContainer {
  width: 95%;
  overflow: hidden;
  position: relative;
  height: 45vh;
}
#Reviews #scrollContainer:before, #Reviews #scrollContainer:after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background: linear-gradient(to right, rgb(248, 248, 248), rgba(255, 255, 255, 0));
}
#Reviews #scrollContainer:before {
  left: 0;
}
#Reviews #scrollContainer:after {
  right: 0;
  background: linear-gradient(to left, rgb(248, 248, 248), rgba(255, 255, 255, 0));
}
#Reviews #scrollContainer:hover #scrollContent {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#Reviews #scrollContent {
  display: flex;
  width: 200%;
  -webkit-animation: scroll infinite linear 150s;
          animation: scroll infinite linear 150s;
  transform: translateX(0%);
}
#Reviews .scrollItem {
  width: 14%;
  text-align: center;
  height: 100%;
  flex-shrink: 0;
}
#Reviews .scrollItem .review-block {
  width: 20rem;
  background-color: #f5f5f5;
  border-radius: 15px;
  border: 2px solid var(--yellow-accent);
  padding: 20px;
  margin: 20px auto 10px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#Reviews .scrollItem .review-block .review-header {
  text-align: center;
  margin-bottom: 10px;
}
#Reviews .scrollItem .review-block .review-header .review-title {
  font-weight: bold;
}
#Reviews .scrollItem .review-block .review-content {
  text-align: start;
  font-size: 0.85rem;
  margin-bottom: 20px;
  letter-spacing: normal;
  word-spacing: -1px;
}
#Reviews .scrollItem .review-block .review-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0.8em;
  color: gray;
}
#Reviews .scrollItem .review-block .review-footer .reviewer-name {
  font-weight: bold;
}
@-webkit-keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

#Footer {
  position: relative;
  height: 28vh;
  width: 100%;
  background-color: var(--dark-ui);
  color: var(--light-ui);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  line-height: 1.8rem;
  padding: 1rem;
}
#Footer .footer-block-1 {
  width: 30%;
  padding: 1rem;
}
#Footer .footer-block-1 .f-b-1-logo {
  padding-bottom: 0.2rem;
}
#Footer .footer-block-1 .f-b-1-logo img {
  width: 6rem;
}
#Footer .footer-block-1 .f-b-1-logo span {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 2rem;
}
#Footer .footer-block-1 .f-b-1-info span {
  font-size: 1.2rem;
  font-weight: 400;
}
#Footer .footer-block-2 {
  width: 20%;
  padding: 1rem;
}
#Footer .footer-block-2 .f-b-2-links .f-b-2-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--yellow-accent);
}
#Footer .footer-block-2 .f-b-2-links ul li {
  font-size: 1.2rem;
  font-weight: 400;
}
#Footer .footer-block-3 {
  width: 15%;
  padding: 1rem;
}
#Footer .footer-block-3 .f-b-3-socials .f-b-3-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--yellow-accent);
}
#Footer .footer-block-3 .f-b-3-socials span {
  font-size: 1.2rem;
  font-weight: 400;
}
#Footer .footer-block-4 {
  width: 25%;
  padding: 1rem;
}
#Footer .footer-block-4 .f-b-4-legal span {
  font-size: 1.2rem;
  font-weight: 400;
}

#_Services {
  position: relative;
  height: 100vh;
  width: 100%;
}
#_Services .serv-top-wrapper {
  position: relative;
  width: 100%;
  height: 35%;
  background-color: var(--yellow-accent);
}
#_Services .serv-top-wrapper .serv-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border-top: 2rem solid var(--yellow-accent);
}
#_Services .serv-top-wrapper .serv-banner span {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -3px;
}
#_Services .serv-top-wrapper .serv-banner p {
  width: 60%;
}
#_Services .serv-bottom-wrapper {
  width: 100%;
  height: 65%;
}
#_Services .serv-bottom-wrapper .showcase-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#_Services .serv-bottom-wrapper .showcase-container .options {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#_Services .serv-bottom-wrapper .showcase-container .options .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 54px;
  cursor: pointer;
  border-bottom: 2px solid var(--med-gray-ui);
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}
#_Services .serv-bottom-wrapper .showcase-container .options .option:hover {
  background-color: var(--yellow-accent);
}
#_Services .serv-bottom-wrapper .showcase-container .display {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-ui);
}
#_Services .serv-bottom-wrapper .showcase-container .display .display-item {
  display: none;
  width: 90%;
  height: 90%;
  text-align: left;
  padding: 20px;
}
#_Services .serv-bottom-wrapper .showcase-container .display .display-item .display-text {
  font-size: 1.5rem;
}

#Estimates {
  position: relative;
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Estimates .form-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2rem solid var(--yellow-accent);
  background-color: var(--yellow-accent);
  width: 100%;
  height: 30%;
}
#Estimates .form-header h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -3px;
}
#Estimates .form-header p {
  font-size: 1.2rem;
  font-weight: 500;
}
#Estimates form {
  width: 60%;
  height: 80%;
  margin-top: 1rem;
}
#Estimates h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#Estimates label {
  display: block;
  padding: 0.5rem 0;
}
#Estimates input[type=text], #Estimates textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--dark-ui);
  font-size: 1.2rem;
  background: none;
}
#Estimates input[type=submit] {
  width: 100%;
  background-color: var(--yellow-accent);
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
#Estimates .required {
  color: red;
  font-weight: normal;
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */