:root  {
    --light-ui: #f8f8f8;
    --dark-ui: #292929;
    --gray-ui: rgb(167, 167, 167);
    --dark-gray-ui: rgb(58, 58, 58);

    --black-main-accent: #040404;
    --yellow-accent: #FAB71C;
    --red-main-accent: #b31212;
}

$Arrow: var(--yellow-accent);
$Circle: var(--black-main-accent);
$Arrow-hover: var(--black-main-accent);
$Arrow-hover-background: var(--light-ui);

li{
    list-style-type: none;
  }
  .slider-container{
    position: relative;
    height: 100%;
    background-color: var(--yellow-accent);
  }
  .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    display: none;
  }
  .active{
    display: block;
  }
  .slider{
    margin: 0;
  }
  .slide:nth-child(1){
    background-image: url("/resources/Images/exherobanner3.png");
  }
  .slide:nth-child(2){
    background-image: url("/resources/Images/exherobanner1.png");
  }
  .slide:nth-child(3){
    background-image: url("/resources/Images/exherobanner2.png");
  }
  .slide__caption{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    width: 40%;
    margin: 0 auto;
    left: 0;
    right: 50%;
    z-index: 1;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1.5px 1.5px 0 var(--yellow-accent), 3px 3px 0px rgba(248, 248, 248, .9);
  }
  @media screen and(min-width:600px){
    .slide__caption{
      font-size: 30px;
    }
  }
  @media screen and(min-width:1200px){
    .slide__caption{
      font-size: 50px;
    }
  }
  .prev, .next{
    color: #ffffff;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    height: 85%;
    width: 5%;
    display: inline-flex;
    align-items: flex-end;
    font-size: 1rem;
  }
  .prev{
    left: 0;
    justify-content: center;
  }
  .next{
    justify-content: center;
    right: 0;
  }


  .circleOne, .circleTwo {
    width: 2rem;
    height: 2rem;
    background-color: $Circle;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 300ms ease-out;
    box-shadow: 0 0 4px 1px rgba(55, 55, 31,0.2);
  }
  
  .arrow {
    //background-color: white;
    transition: 200ms ease-out;
    color: var(--light-ui);
  }
  
  // ------------ Hover States
  
  .circleOne,.circleTwo:hover {
    cursor: pointer;
  }
  
  .circleOne:hover {
    transform: translateX(-6px);
    background-color: $Arrow-hover-background;
  }
  
  .circleTwo:hover {
    transform: translateX(6px);
    background-color: $Arrow-hover-background;
  
  }
  
  
  // ------------- Arrow Hovers
  
  .circleOne:hover .arrow, .circleTwo:hover .arrow {
    color: var(--dark-blue-accent);
    font-size: 1.2rem;
  }

  .dots{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .dot{
    color: var(--light-ui);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .fade{
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
  }

  .hologram-btn {
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
    width: 10%;
    top: 75%;
    left: 0;
    right: 50%;
    z-index: 1;
    padding: 1em 2em;
    border: none;
    border-radius: 0;
    color: var(--dark-ui);
    background-color: var(--yellow-accent);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 250ms ease;
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid;
        transition: .25s;
      }
    &:before {
      transform: translateX(.20em) translateY(.20em);
      color: rgba(248, 248, 248);
    }
    &:after {
      transform: translateX(-.20em) translateY(-.20em);
      color: var(--dark-ui);
    }
    &:hover {
      &:before,
      &:after{
        transform: translateX(0) translateY(0);
      }
    }
  }