body {
  text-rendering: optimizeLegibility;
}

a.btn {
  background: #FFD00F;
  border-radius: 4px;
  color: #060606;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: #e48f10;
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: #e48f10;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

.cards {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card-row {
  position: relative;
  margin-bottom: 3rem;
}

.card {
  background: rgb(239, 239, 236);
  width: 28rem;
  height: 20rem;
  perspective: 1000;
  text-align: center;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  margin: auto;
}
.card img {
  background-color: #FFD00F;
  border: 2px solid #060606;
  border-radius: 12px;
  padding: 0.5rem;
  max-width: 5.5rem;
}
.card .card__image-holder {
  background-color: rgb(239, 239, 236);
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-title {
  height: 30%;
  background: palegoldenrod;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}
.card .card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
.card .card-title a.toggle-info span {
  background: rgb(239, 239, 236);
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
  background-color: #060606;
}
.card .card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
.card .card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
.card .card-title h2 {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
}
.card .card-description {
  position: relative;
  font-size: 14px;
}
.card .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
.card .card-flap {
  background: rgb(239, 239, 236);
  position: absolute;
  transform-origin: top;
  transform: rotateX(-90deg);
  max-width: 28rem;
}
.card .flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

.cards.showing .card {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.95);
}

.no-touch .cards.showing .card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.card.show .card-title a.toggle-info {
  background: rgb(65, 65, 65) !important;
}
.card.show .card-title a.toggle-info span {
  top: 15px;
}
.card.show .card-title a.toggle-info span.left {
  right: 10px;
  background-color: #f8f8f8;
}
.card.show .card-title a.toggle-info span.right {
  left: 10px;
  background-color: #f8f8f8;
}
.card.show .card-flap {
  background: rgb(239, 239, 236);
  transform: rotateX(0deg);
}
.card.show .flap1 {
  transition: all 0.3s 0s ease-out;
}/*# sourceMappingURL=card.css.map */