$base-light: #f8f8f8;
$base-dark: #060606;
$accent-yellow: #FFD00F;
$accent-orange: #e48f10;
$accent-dark-gray: #313131;
$accent-gray: rgb(65, 65, 65);
$accent-light-gray: rgb(239, 239, 236);

body {
  text-rendering: optimizeLegibility;
}

a.btn {
  background: $accent-yellow;
  border-radius: 4px;
  color: $base-dark;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: $accent-orange;
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: $accent-orange;
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

.cards {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card-row {
    position: relative;
    // display: grid;
    // align-items: center;
    margin-bottom: 3rem;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  background: $accent-light-gray;
  width: 28rem;
  height: 20rem;
  perspective: 1000;
  text-align: center;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  margin: auto;

  img {
    background-color: $accent-yellow;
    border: 2px solid $base-dark;
    border-radius: 12px;
    padding: 0.5rem;
    max-width: 5.5rem;
  }
  
  .card__image-holder {
    background-color: $accent-light-gray;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-title {
    height: 30%;
    background: palegoldenrod;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: $accent-light-gray;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
        background-color: $base-dark;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
      font-size: 1.15rem;
      font-weight: 700;
      letter-spacing: -0.02em;
      margin: 0;
      padding: 0;
    }
  }

  .card-description {
    // padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  .card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  .card-flap {
    background: $accent-light-gray;
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    max-width: 28rem;
  }
  .flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  
}

.cards.showing {
  .card {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(0.95);
  }
}

.no-touch .cards.showing {
  .card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  .card-title {
    a.toggle-info {
      background: $accent-gray !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
        background-color: $base-light;
      }
      span.right {
        left: 10px;
        background-color: $base-light;
      }
    }
  }
  .card-flap {
    background: $accent-light-gray;
    transform: rotateX(0deg);
  }
  .flap1 {
    transition: all 0.3s 0s ease-out;
  }
}


