@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600;700;800&display=swap');

$base-light: rgb(248, 248, 248);
$base-dark: #060606;
$accent-yellow: rgb(250, 183, 28);
$accent-gray: rgb(95, 95, 95);

