@import url("https://fonts.googleapis.com/css2?family=Kantumruy:wght@700&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  color: #060606;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

#Header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 1rem 0;
  max-width: 1920px;
  max-height: 5rem;
  margin: auto;
  background-color: rgba(248, 248, 248, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media screen and (min-width: 1000px) {
  #Header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    width: 100%;
    z-index: 2;
    border-radius: 0 0 30px 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 999px) {
  #Header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 800px;
    z-index: 2;
    border-radius: 0 0 30px 30px;
    background-color: rgba(248, 248, 248, 0.9);
  }
}
@media screen and (max-width: 480px) {
  #Header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
    border-radius: 0 0 30px 30px;
    padding: 0;
  }
}
#Header .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 999px) {
  #Header .header-nav {
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}
#Header .header-nav .nav-logo {
  height: auto;
  max-width: 10rem;
}
@media screen and (max-width: 840px) {
  #Header .header-nav .nav-logo {
    padding-top: 0.7rem;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 480px) {
  #Header .header-nav .nav-logo {
    margin: auto;
  }
}
#Header .header-nav .nav-tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 999px) {
  #Header .header-nav .nav-tabs {
    display: none;
  }
}
#Header .header-nav .nav-tabs li {
  font-size: 1.1rem;
  padding: 0 1rem;
}
#Header .header-nav .nav-tabs li a {
  position: relative;
  color: rgb(65, 65, 65);
  text-decoration: none;
}
#Header .header-nav .nav-tabs li a:after, #Header .header-nav .nav-tabs li a ::before {
  transition: all 0.5s;
}
#Header .header-nav .nav-tabs li a:hover {
  color: #060606;
}
#Header .header-nav .nav-tabs li a:after {
  position: absolute;
  bottom: -3.5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #FFD00F;
  height: 2px;
}
#Header .header-nav .nav-tabs li a:hover:after {
  width: 100%;
}
#Header .header-nav .nav-button {
  font-size: 1rem;
  padding: 0.9rem;
  border-radius: 25px;
  border: 2px solid #FFD00F;
  background: none;
  transition: background-color 0.5s ease;
}
@media screen and (max-width: 999px) {
  #Header .header-nav .nav-button {
    display: none;
  }
}
#Header .header-nav .nav-button:hover {
  background-color: #FFD00F;
}
@media screen and (min-width: 1000px) {
  #Header .header-nav #FAB {
    display: none;
  }
}
#Header .header-nav #FAB .container {
  width: 40%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 73px;
  left: 30px;
  z-index: 3;
  pointer-events: none;
}
#Header .header-nav #FAB .container #toggle {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
@media screen and (min-width: 841px) and (max-width: 999px) {
  #Header .header-nav #FAB .container {
    width: 50%;
    top: 63px;
  }
}
@media screen and (max-width: 840px) {
  #Header .header-nav #FAB .container {
    width: 70%;
    top: 77px;
  }
}
@media screen and (max-width: 321px) {
  #Header .header-nav #FAB .container {
    width: 80%;
    left: 20px;
  }
}
#Header .header-nav #FAB .container .button {
  position: absolute;
  z-index: 3;
  width: 45px;
  height: 45px;
  background: rgba(228, 143, 16, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -55px;
  left: 2px;
}
@media screen and (max-width: 840px) {
  #Header .header-nav #FAB .container .button {
    top: -62px;
  }
}
#Header .header-nav #FAB .container .button:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #f8f8f8;
  transform: rotate(225deg);
  transition: all 0.4s ease;
}
#Header .header-nav #FAB .container .button:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #f8f8f8;
  transform: rotate(135deg);
  transition: all 0.4s ease;
}
#Header .header-nav #FAB .container .nav {
  opacity: 1;
  transition: all 0.4s ease-in-out;
  background: rgba(239, 239, 236, 0.98);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  width: 100%;
  border-radius: 20px;
  transform: translateX(0%);
  box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.2);
  border: 1px solid #e4e4e4;
  padding: 10px;
  z-index: 0;
  pointer-events: none;
}
#Header .header-nav #FAB .container .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#Header .header-nav #FAB .container .nav a {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(65, 65, 65);
  transition: color 0.3s ease-in-out;
  pointer-events: auto;
}
#Header .header-nav #FAB .container .nav a:hover {
  color: #e48f10;
}
#Header .header-nav #FAB .container #toggle:checked ~ .nav ul a {
  pointer-events: none;
}
#Header .header-nav #FAB .container #toggle:checked ~ .nav {
  opacity: 0;
  z-index: -2;
  transform: translateX(10%);
}
#Header .header-nav #FAB .container #toggle:not(:checked) ~ .nav {
  pointer-events: auto;
}
#Header .header-nav #FAB .container #toggle:not(:checked) ~ .button {
  background: #e48f10;
}
#Header .header-nav #FAB .container #toggle:checked ~ .button:before {
  transform: rotate(90deg);
}
#Header .header-nav #FAB .container #toggle:checked ~ .button:after {
  transform: rotate(0deg);
}

#Home {
  position: relative;
  max-width: 1920px;
  margin: auto;
  padding-top: 6rem;
}
#Home .home-hire-banner {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
  background-color: rgb(239, 239, 236);
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 1rem 0;
  margin: 0 30px;
}
@media screen and (max-width: 450px) {
  #Home .home-hire-banner {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
#Home .home-hire-banner .hire-banner-apply {
  color: #e48f10;
  text-decoration: none;
  cursor: pointer;
}
#Home .home-hero {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
  padding: 30px;
  max-width: 1920px;
  margin: auto;
}
@media screen and (max-width: 999px) {
  #Home .home-hero {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  #Home .home-hero {
    padding: 0;
  }
}
#Home .home-hero .home-hero-leftBlock {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 999px) {
  #Home .home-hero .home-hero-leftBlock {
    padding: 1.5rem;
    gap: 1.2rem;
  }
}
#Home .home-hero .home-hero-leftBlock .home-hero-brand {
  font-family: "Kantumruy", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #e48f10;
}
#Home .home-hero .home-hero-leftBlock h1 {
  font-size: 2.4rem;
  line-height: 3rem;
}
#Home .home-hero .home-hero-leftBlock p {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(65, 65, 65);
}
#Home .home-hero .home-hero-rightBlock {
  margin: auto;
  height: 90%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  #Home .home-hero .home-hero-rightBlock {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 999px) {
  #Home .home-hero .home-hero-rightBlock {
    width: 90%;
  }
}
#Home .home-hero .home-hero-rightBlock img {
  height: auto;
  width: auto;
  max-width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 840px) {
  #Home .home-hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
#Home .home-quick-links {
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#Home .home-quick-links button {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
  width: 95%;
  transition: all 0.2s ease-in-out;
  position: relative;
  border-radius: 20px;
  border: none;
  color: #f8f8f8;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
#Home .home-quick-links button:nth-child(1) {
  background-color: #313131;
}
#Home .home-quick-links button:nth-child(2) {
  background-color: #3b7bbf;
}
#Home .home-quick-links button:nth-child(3) {
  background-color: #e48f10;
}
#Home .home-quick-links button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
#Home .home-quick-links button .fa-paypal, #Home .home-quick-links button .fa-file-lines, #Home .home-quick-links button .fa-phone {
  padding-right: 1rem;
  font-size: 1.5rem;
}
#Home .home-quick-links button .fa-paypal {
  color: #f8f8f8;
}
#Home .home-quick-links button .fa-file-lines {
  color: #f8f8f8;
}
#Home .home-quick-links button .fa-phone {
  color: #f8f8f8;
}
@media screen and (min-width: 1000px) and (max-width: 1119px) {
  #Home .home-quick-links button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 999px) {
  #Home .home-quick-links button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 999px) {
  #Home .home-quick-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #Home .home-quick-links button {
    padding: 30px;
    width: 80%;
  }
}

#Services {
  max-width: 1920px;
  margin: auto;
}
#Services .wrapper {
  margin: auto;
}
#Services .header {
  padding: 20px;
  text-align: center;
}
#Services .header__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
  font-family: "inter", sans-serif;
}
#Services .cards {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 450px) {
  #Services .cards {
    padding: 0;
  }
}
#Services .card {
  position: relative;
  margin: 15px;
  width: calc(33.3333333333% - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 999px) {
  #Services .card {
    width: 100%;
  }
}
@media screen and (max-width: 321px) {
  #Services .card {
    margin: 1rem 0;
  }
}
#Services .card:hover .card__inner {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#Services .card__inner {
  width: 100%;
  padding: 80px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background-color: rgb(239, 239, 236);
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 850px) and (max-width: 1367px) {
  #Services .card__inner {
    padding: 60px;
  }
}
@media screen and (max-width: 450px) {
  #Services .card__inner {
    padding: 50px;
    font-size: 1rem;
  }
}
#Services .card__inner .service-icon-img {
  width: 5.5rem;
}
@media screen and (min-width: 1120px) and (max-width: 1367px) {
  #Services .card__inner .service-icon-img {
    width: 4.5rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1119px) {
  #Services .card__inner .service-icon-img {
    width: 4.5rem;
  }
}
@media screen and (max-width: 321px) {
  #Services .card__inner .service-icon-img {
    width: 4rem;
  }
}
@media screen and (min-width: 1120px) and (max-width: 1367px) {
  #Services .card__inner .card-title {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1119px) {
  #Services .card__inner .card-title {
    font-size: 0.9rem;
  }
}
#Services .card__inner .see-more {
  font-size: 1rem;
  color: #e48f10;
  margin-top: 0.5rem;
}
#Services .card__inner .span-wrapper {
  display: flex;
  flex-direction: column;
}
#Services .card__inner:after {
  transition: all 0.3s ease-in-out;
}
#Services .card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
#Services .card__expander {
  transition: all 0.2s ease-in-out;
  background-color: rgb(239, 239, 236);
  width: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #060606;
  font-size: 1.2em;
  text-align: left;
  line-height: 2.5rem;
}
#Services .card__expander p {
  padding: 4rem;
}
@media screen and (max-width: 321px) {
  #Services .card__expander p {
    padding: 2rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 322px) and (max-width: 840px) {
  #Services .card__expander p {
    padding: 2rem;
    font-size: 1rem;
  }
}
#Services .card.is-collapsed .card__inner:after {
  opacity: 0;
}
#Services .card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
#Services .card.is-expanded .card__inner {
  background-color: #FFD00F;
}
#Services .card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
#Services .card.is-expanded:hover .card__inner {
  transform: scale(1);
}
#Services .card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
#Services .card.is-inactive:hover .card__inner {
  background-color: #FFD00F;
  transform: scale(1);
}
@media screen and (min-width: 1000px) {
  #Services .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  #Services .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  #Services .card:nth-of-type(3n+4) {
    clear: left;
  }
  #Services .card__expander {
    width: calc(300% + 60px);
  }
}

#About {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}
@media screen and (max-width: 999px) {
  #About {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#About .about-leftBlock {
  margin: 2rem;
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 28%;
}
@media screen and (max-width: 999px) {
  #About .about-leftBlock {
    width: 90%;
    padding-top: 50%;
  }
}
@media screen and (max-width: 450px) {
  #About .about-leftBlock {
    margin: 1rem;
  }
}
#About .about-leftBlock iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #060606;
  border-radius: 20px;
}
#About .about-rightBlock {
  padding: 2rem;
  height: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 999px) {
  #About .about-rightBlock {
    max-width: 90%;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  #About .about-rightBlock {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 321px) {
  #About .about-rightBlock {
    width: 100%;
    padding: 1rem;
  }
}
#About .about-rightBlock h3 {
  font-size: 2rem;
  font-weight: 600;
}
#About .about-rightBlock p {
  font-size: 1.1rem;
  color: rgb(65, 65, 65);
  line-height: 2.5rem;
}
@media screen and (max-width: 840px) {
  #About .about-rightBlock p {
    padding: 0.5rem 0;
  }
}
#About .about-rightBlock ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 1366px) {
  #About .about-rightBlock ul {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  #About .about-rightBlock ul {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 840px) and (max-width: 1112px) {
  #About .about-rightBlock ul {
    padding-top: 1rem;
    margin: auto;
  }
}
@media screen and (max-width: 840px) {
  #About .about-rightBlock ul {
    margin: auto;
  }
}
#About .about-rightBlock ul li {
  font-size: 1rem;
  padding-right: 2.5rem;
  font-weight: 600;
  color: #e48f10;
}
@media screen and (max-width: 1366px) {
  #About .about-rightBlock ul li {
    font-size: 1rem;
    padding-right: 1.1rem;
  }
}

#Reviews {
  max-width: 1320px;
  margin: auto;
  padding: 30px;
}
@media screen and (max-width: 450px) {
  #Reviews {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 321px) {
  #Reviews {
    padding: 0.5rem;
  }
}
#Reviews .reviews-Block .review-top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  height: 85%;
  background-color: #FFD00F;
  border-radius: 20px;
}
@media screen and (max-width: 450px) {
  #Reviews .reviews-Block .review-top-wrapper {
    padding: 1.5rem;
  }
}
#Reviews .reviews-Block .review-top-wrapper img {
  margin-top: 1rem;
  width: 3rem;
  filter: invert(16%) sepia(0%) saturate(1%) hue-rotate(339deg) brightness(99%) contrast(90%);
}
#Reviews .reviews-Block .review-top-wrapper p {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: #060606;
}
@media screen and (max-width: 450px) {
  #Reviews .reviews-Block .review-top-wrapper p {
    line-height: 2rem;
  }
}
@media screen and (max-width: 321px) {
  #Reviews .reviews-Block .review-top-wrapper p {
    font-size: 1rem;
  }
}
#Reviews .reviews-Block .review-top-wrapper span {
  margin-top: 1rem;
  line-height: 3rem;
  font-size: 1.1rem;
  color: #313131;
}
#Reviews .reviews-Block .review-top-wrapper .review-stars i {
  margin-top: 1rem;
  font-size: 1.5rem;
}
#Reviews .reviews-Block .reviews-bottom-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 840px) {
  #Reviews .reviews-Block .reviews-bottom-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
#Reviews .reviews-Block .reviews-bottom-wrapper .r-b-half-style {
  position: absolute;
  top: -3rem;
  z-index: -1;
  width: 100%;
  height: 70%;
  background-color: #FFD00F;
  border-radius: 20px;
}
@media screen and (max-width: 450px) {
  #Reviews .reviews-Block .reviews-bottom-wrapper .r-b-half-style {
    height: 90%;
  }
}
#Reviews .reviews-Block .reviews-bottom-wrapper .review-block {
  width: 24rem;
  background-color: #f5f5f5;
  border-radius: 15px;
  border: 2px solid var(--yellow-accent);
  padding: 20px;
  margin: 20px 10px 10px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 840px) {
  #Reviews .reviews-Block .reviews-bottom-wrapper .review-block {
    width: 90%;
  }
}
#Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-header {
  text-align: center;
  margin-bottom: 10px;
}
#Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-header .review-title {
  font-weight: bold;
}
#Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-content {
  text-align: start;
  font-size: 0.85rem;
  margin-bottom: 20px;
  letter-spacing: normal;
  word-spacing: -1px;
  line-height: 1.3rem;
}
#Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1rem;
  width: 95%;
  margin: auto;
  color: gray;
}
#Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-footer .reviewer-name {
  font-weight: bold;
}
@media screen and (max-width: 1112px) {
  #Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-footer .reviewer-name {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1112px) {
  #Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-footer .review-stars {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1112px) {
  #Reviews .reviews-Block .reviews-bottom-wrapper .review-block .review-footer .review-date {
    font-size: 0.7rem;
  }
}
#Reviews .reviews-Block .reviews-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Reviews .reviews-Block .reviews-button .reviews-button-style {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.9rem;
  border-radius: 25px;
  border: 2px solid #FFD00F;
  font-weight: 600;
  background-color: #FFD00F;
  transition: background-color 0.5s ease;
}
#Reviews .reviews-Block .reviews-button .reviews-button-style:hover {
  background-color: #f8f8f8;
}

#CTA {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
  max-width: 1920px;
  margin: auto;
  padding: 30px;
}
@media screen and (max-width: 999px) {
  #CTA {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 321px) {
  #CTA {
    padding: 0;
  }
}
@media screen and (max-width: 999px) {
  #CTA .cta-leftBlock {
    width: 90%;
  }
}
#CTA .cta-leftBlock .cta-img {
  height: auto;
  width: auto;
  max-width: 100%;
  border-radius: 20px;
}
#CTA .cta-rightBlock {
  padding: 2rem;
  line-height: 2.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
@media screen and (max-width: 321px) {
  #CTA .cta-rightBlock {
    padding: 1rem;
  }
}
@media screen and (max-width: 999px) {
  #CTA .cta-rightBlock {
    display: flex;
    align-items: center;
  }
}
#CTA .cta-rightBlock .cta-cta {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 840px) {
  #CTA .cta-rightBlock .cta-cta {
    font-size: 1.8rem;
  }
}
#CTA .cta-rightBlock .cta-p {
  font-size: 1.1rem;
  color: rgb(65, 65, 65);
}
#CTA .cta-rightBlock .cta-button-wrapper {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 840px) {
  #CTA .cta-rightBlock .cta-button-wrapper {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  #CTA .cta-rightBlock .cta-button-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
#CTA .cta-rightBlock .cta-button-wrapper .cta-call-button {
  margin: 1rem;
  font-size: 1rem;
  padding: 0.9rem 2rem;
  border-radius: 25px;
  border: 2px solid #FFD00F;
  font-weight: 600;
  background-color: #f8f8f8;
  transition: background-color 0.5s ease;
}
#CTA .cta-rightBlock .cta-button-wrapper .cta-call-button:hover {
  background-color: #FFD00F;
}
@media screen and (max-width: 840px) {
  #CTA .cta-rightBlock .cta-button-wrapper .cta-call-button {
    padding: 0.9rem 4rem;
  }
}
@media screen and (max-width: 450px) {
  #CTA .cta-rightBlock .cta-button-wrapper .cta-call-button {
    font-size: 0.9rem;
  }
}
#CTA .cta-rightBlock .cta-button-wrapper .cta-book-button {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.9rem;
  border-radius: 25px;
  border: 2px solid #FFD00F;
  font-weight: 600;
  background-color: #FFD00F;
  transition: background-color 0.5s ease;
}
#CTA .cta-rightBlock .cta-button-wrapper .cta-book-button:hover {
  background-color: #f8f8f8;
}
@media screen and (max-width: 840px) {
  #CTA .cta-rightBlock .cta-button-wrapper .cta-book-button {
    padding: 0.9rem 3rem;
  }
}

#Footer {
  position: relative;
  padding-top: 5rem;
  height: 30rem;
  max-width: 1920px;
  margin: auto;
}
@media screen and (max-width: 450px) {
  #Footer {
    padding: 0;
  }
}
#Footer .site-footer {
  line-height: 24px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 321px) {
  #Footer .site-footer {
    padding: 1rem;
  }
}
#Footer .site-footer .footer-container {
  background-color: rgb(239, 239, 236);
  padding: 5rem 0;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
#Footer .site-footer .footer-container .row {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1366px) {
  #Footer .site-footer .footer-container .row {
    padding-left: 2.5rem;
  }
}
@media screen and (max-width: 908px) {
  #Footer .site-footer .footer-container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  #Footer .site-footer .footer-container .row {
    padding: 0;
  }
}
#Footer .site-footer .footer-container .row .block-1 {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
@media screen and (max-width: 908px) {
  #Footer .site-footer .footer-container .row .block-1 {
    text-align: center;
  }
}
#Footer .site-footer .footer-container .row .block-1 .block-1-title {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 450px) {
  #Footer .site-footer .footer-container .row .block-1 .block-1-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 321px) {
  #Footer .site-footer .footer-container .row .block-1 .block-1-title {
    font-size: 1.2rem;
  }
}
#Footer .site-footer .footer-container .row .block-1 .block-1-number {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(65, 65, 65);
}
@media screen and (max-width: 770px) {
  #Footer .site-footer .footer-container .row .block-1 .block-1-number {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 450px) {
  #Footer .site-footer .footer-container .row .block-1 .block-1-number {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 321px) {
  #Footer .site-footer .footer-container .row .block-1 .block-1-number {
    font-size: 1.1rem;
  }
}
#Footer .site-footer .footer-container .row .block-1 .block-1-button {
  width: 60%;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 0.9rem;
  border-radius: 25px;
  border: 2px solid #FFD00F;
  font-weight: 600;
  background-color: #FFD00F;
  transition: background-color 0.5s ease;
}
#Footer .site-footer .footer-container .row .block-1 .block-1-button:hover {
  background-color: #f8f8f8;
}
@media screen and (max-width: 321px) {
  #Footer .site-footer .footer-container .row .block-1 .block-1-button {
    width: 80%;
  }
}
#Footer .site-footer .footer-container .row .block-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
@media screen and (max-width: 908px) {
  #Footer .site-footer .footer-container .row .block-wrapper {
    padding-top: 2rem;
    margin: auto;
    width: 70%;
  }
}
@media screen and (max-width: 660px) {
  #Footer .site-footer .footer-container .row .block-wrapper {
    flex-direction: column;
  }
}
#Footer .site-footer .footer-container .row .block-wrapper .block-2, #Footer .site-footer .footer-container .row .block-wrapper .block-3, #Footer .site-footer .footer-container .row .block-wrapper .block-4 {
  line-height: 2rem;
  padding: 0 1rem;
}
@media screen and (max-width: 840px) {
  #Footer .site-footer .footer-container .row .block-wrapper .block-2, #Footer .site-footer .footer-container .row .block-wrapper .block-3, #Footer .site-footer .footer-container .row .block-wrapper .block-4 {
    margin-top: 2rem;
  }
}
#Footer .site-footer .footer-container .row .block-wrapper .block-2 h6, #Footer .site-footer .footer-container .row .block-wrapper .block-3 h6, #Footer .site-footer .footer-container .row .block-wrapper .block-4 h6 {
  color: #e48f10;
  font-size: 1.2rem;
}
#Footer .site-footer .footer-container .row .block-wrapper .block-2 ul, #Footer .site-footer .footer-container .row .block-wrapper .block-3 ul, #Footer .site-footer .footer-container .row .block-wrapper .block-4 ul {
  list-style: none;
}
#Footer .site-footer .footer-container .row .block-wrapper .block-2 ul li, #Footer .site-footer .footer-container .row .block-wrapper .block-3 ul li, #Footer .site-footer .footer-container .row .block-wrapper .block-4 ul li {
  font-size: 1.1rem;
}
@media screen and (max-width: 840px) {
  #Footer .site-footer .footer-container .row .block-wrapper .block-2 ul li, #Footer .site-footer .footer-container .row .block-wrapper .block-3 ul li, #Footer .site-footer .footer-container .row .block-wrapper .block-4 ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 660px) {
  #Footer .site-footer .footer-container .row .block-wrapper .block-2 ul li, #Footer .site-footer .footer-container .row .block-wrapper .block-3 ul li, #Footer .site-footer .footer-container .row .block-wrapper .block-4 ul li {
    font-size: 1.1rem;
  }
}
#Footer .site-footer .footer-container .row .block-wrapper .block-2 ul li a, #Footer .site-footer .footer-container .row .block-wrapper .block-3 ul li a, #Footer .site-footer .footer-container .row .block-wrapper .block-4 ul li a {
  color: rgb(65, 65, 65);
  text-decoration: none;
}
#Footer .site-footer .footer-container .row .block-wrapper .wrapper-media-query .block-3 {
  margin-bottom: 2rem;
}
#Footer .site-footer .container-2 {
  position: relative;
}
@media screen and (max-width: 450px) {
  #Footer .site-footer .container-2 {
    padding-bottom: 6rem;
  }
}
#Footer .site-footer .container-2 .row hr {
  margin: 3rem auto auto auto;
  width: 95%;
}
#Footer .site-footer .container-2 .row .block-end {
  padding: 0.75rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0.75rem auto;
}
@media screen and (max-width: 840px) {
  #Footer .site-footer .container-2 .row .block-end {
    padding: 0.75rem 0.5rem;
  }
}
#Footer .site-footer .container-2 .row .block-end .block-end-info-wrapper {
  display: flex;
  align-items: center;
}
#Footer .site-footer .container-2 .row .block-end .block-end-info-wrapper img {
  width: 6rem;
  padding-right: 1rem;
}
#Footer .site-footer .container-2 .row .block-end .block-end-info-wrapper p {
  width: 100%;
}
@media screen and (min-width: 451px) and (max-width: 840px) {
  #Footer .site-footer .container-2 .row .block-end .block-end-info-wrapper p {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  #Footer .site-footer .container-2 .row .block-end .block-end-info-wrapper p {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 95%;
    padding-bottom: 0.5rem;
  }
}
#Footer .site-footer .container-2 .row .block-end .social-icons-block .social-icons {
  list-style: none;
  display: flex;
}
#Footer .site-footer .container-2 .row .block-end .social-icons-block .social-icons li {
  padding: 0 0.5rem;
}
#Footer .site-footer .container-2 .row .block-end .social-icons-block .social-icons li a {
  background-color: #313131;
  color: #f8f8f8;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
#Footer .site-footer .container-2 .row .block-end .social-icons-block .social-icons li a.facebook:hover {
  background-color: #3b5998;
}
#Footer .site-footer .container-2 .row .block-end .social-icons-block .social-icons li a.yelp:hover {
  background-color: #c41200;
}/*# sourceMappingURL=index.css.map */